.select {
    width: 18rem;
    position: relative;
    padding: 2px 5px;
    cursor: pointer;
    border: 1px solid #C2C2C2;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

.select:focus {
    outline: none;
    border: 1px solid #000000;
}